/* Constants */
:root {
    color-scheme: dark light;

    --header_height: 70px;
    --sidenav_width: 380px;
    --sidenav_bg: light-dark(#e4e4e4, #0f0b07);
    --main_bg: light-dark(#f3f3f3, #1f1f1f);
    --text_color: light-dark(#171717, #dbc3bb);
    --link_color: light-dark(#bb4e17, #cf632b);
    --link_hover_color: light-dark(#bd8235, #e7ab5f);
    --secondary_bg: light-dark(#dfdfdf, #0f0b07);
    --header_bg: light-dark(#4e4e4e, #070700);
    --faq-color: light-dark(#913e14, #b7876b);
    --table-tr-header: light-dark(#eee, #070700);
}

/* Base Styles Start */
body {
    color: var(--text_color);
    font-family: verdana, sans-serif;
}

p {
    line-height: 25px;
}

a {
    color: var(--link_color);
    text-decoration: none;
}

a:hover {
    color: var(--link_hover_color);
}

a:active {
    color: var(--link_hover_color);
}

pre {
    background-color: var(--secondary_bg);
    padding: 10px;
}

code {
    font-size: 16px;
    color: var(--text_color);
}

code.highlight {
    background-color: var(--sidenav_bg);
}

blockquote {
    background-color: var(--secondary_bg);
    padding: 10px;
}

table {
    border-collapse: collapse;
    background-color: var(--sidenav_bg);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table.props {
    margin-left: 0;
}

tr {
    background-color: var(--sidenav_bg);
}

tr.header {
    background-color: var(--table-tr-header);
}

td {
    border-style: solid;
    border-width: 2px;
    padding: 10px;
}

b.code {
    font-style: italic;
    padding: 2px;
}

b.faq {
    color: var(--faq-color);
    font-weight: 600;
    font-style: italic;
}

/* Base Styles End */

/* Header Start */
iframe.header {
    height: var(--header_height);
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 10px;
    background-color: var(--header_bg);
    position: fixed;
    border: none;
}

div.head {
    background-color: var(--header_bg);
}
/* Header End */

/* Sidebar Navigation Start */
iframe.sidenav {
    top: var(--header_height);
    left: 0;
    bottom: 0;
    width: var(--sidenav_width);
    height: calc(100% - var(--header_height));
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    border: none;
    background-color: var(--sidenav_bg);
    padding-left: 10px;
    padding-bottom: 10px;
}

div.sidenav {
    background-color: var(--sidenav_bg);
}

h3.sidenav {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

p.sidenav {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

p.sidenav2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}
/* Sidebar Navigation End */

/* Main Body Start */
iframe.main {
    top: var(--header_height);
    left: var(--sidenav_width);
    bottom: 0;
    right: 0;
    width: calc(100% - var(--sidenav_width) - 20px);
    height: calc(100% - var(--header_height));
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--main_bg);
    border: none;
    padding-left: 10px;
    margin-left: 10px;
}
/* Main Body End */