/* Constants */
:root {
    --header_height: 55px;
}

/* Base Styles Start */
body {
    color: #dbc3bb;
    font-family: verdana, sans-serif;
    margin: 0;
    display: grid;
}

p,
li {
    line-height: 25px;
}

ul {
    list-style-type: none;
}

a {
    color: #cf632b;
    text-decoration: none;
}
  
a:hover,
a:active {
    color: #e7ab5f;
}

pre {
    background-color: #0f0b07;
    padding: 10px;
}

code {
    font-size: 16px;
    color: #abe7ff;
}

code.highlight {
    background-color: #0f0b07;
}

blockquote {
    background-color: #0f0b07;
    padding: 10px;
}

table {
    border-collapse: collapse;
    background-color: #1f1f1f;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table.props {
    margin-left: 0;
}

tr {
    background-color: #0f0b07;
}

tr.header {
    background-color: #070700;
}

td {
    border-style: solid;
    border-width: 2px;
    padding: 10px;
}

b.code {
    font-style: italic;
    padding: 2px;
}

b.faq {
    color:#b7876b;
    font-weight: 600;
    font-style: italic;
}

/* Highlight when following anchors in the FAQ, since we are at the bottom of the file people cant tell what happens on click */
#FAQ p[id]:target {
   background-color: #353535;
}
/* Base Styles End */

/* Header Start */
header {
    background-color: #000;
    text-align: center;
    height: var(--header_height);
}
/* Header End */

/* Sidebar Navigation Start */
div.sidenav {
    background-color: #0f0b07;
}

div.sidenav > ul {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
    height: calc(100vh - var(--header_height));
    grid-column: 1;
}

div.sidenav h3 {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

li.discord {
    padding-top: 15px;
}
/* Sidebar Navigation End */

/* Main Body Start */
div.content {
    background-color: #1f1f1f;
    padding-left: 10px;
    padding-right: 10px;
    grid-column: 2;
    overflow-y: scroll;
    height: 100vh;
}
/* Main Body End */