/* Base Styles */
body {
    background-color: #1f1f1f;
    color: #dbc3bb;
    font-family: verdana, sans-serif;
}

a {
    color: #cf632b;
    text-decoration: none;
}
  
a:hover {
    color: #e7ab5f;
}
  
a:active {
    color: #e7ab5f;
}

/* Header Start */
div.head {
    height: 100px;
    width: 100%;
    top: 0;
    left: 360px;
    bottom: 100px;
    padding-left: 10px;
    background-color: #0f0b07;
    position: fixed;
    z-index: 2;
}

/* Header End */

/* Sidebar Navigation Start */
div.sidenav {
    height: 100%;
    width: 360px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0f0b07;
    padding-left: 10px;
    
}

h3.sidenav {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}

p.sidenav {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

p.sidenav2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Sidebar Navigation End */

/* Main Body Start */
.main {
    margin-top: 100px;
    margin-left: 380px;
}

/* Main Body End */