<div class="sidenav">
    <header>
        <img src="../images/godot_ranger.svg" height="50px"><img src="../images/logo_white.png" height="40px" alt="FuncGodot">
    </header>

    <ul>
        <li><a href="#Start">What <i>IS</i> FuncGodot?</a></li>

        <h3>Getting Started</h3>

        <li><a href="#Install">Installing FuncGodot</a></li>
        <ul>
            <li><a href="#MapEdCompat">Map Editor Compatibility</a></li>
            <li><a href="#Download">Downloading the Plugin</a></li>
        </ul>
        <li><a href="#ProjectConfig">Project Configuration</a></li>
        <li><a href="#FGD">Forge Game Data</a></li>
        <ul>
            <li><a href="#FGDFile">FGD File Resource</a></li>
            <li><a href="#EntityClass">Entity Class Definitions</a></li>
            <li><a href="#ModifyOnMapBuild">Modifying Entities on Map Build</a></li>
            <li><a href="#DefaultEntities">Default Entities</a></li>
        </ul>
        <li><a href="#Textures">Textures</a></li>
        <ul>
            <li><a href="#ClipAndSkip">Clip and Skip</a></li>
            <li><a href="#WADFiles">WAD Files</a></li>
            <li><a href="#WhyAreMyTexturesBlurry">Why Are My Textures Blurry!?</a></li>
        </ul>
        <li><a href="#MapEditorConfig">Map Editor Configuration</a></li>
        <ul>
            <li><a href="#TrenchBroom">TrenchBroom</a></li>
            <li><a href="#JACK">J.A.C.K.</a></li>
            <li><a href="#NetRadiantCustom">NetRadiant Custom</a></li>
        </ul>
        <li><a href="#BuildingMaps">Building Maps</a></li>
        <ul>
            <li><a href="#InverseScaleFactor">Inverse Scale Factor</a></li>
            <li><a href="#TrenchbroomHierarchy">TrenchBroom Groups Hierarchy</a></li>
            <li><a href="#Building">Building</a></li>
        </ul>

        <h3>Class Reference</h3>

        <li><a href="#LocalConfig">FuncGodot Local Config</a></li>
        <li><a href="#FGDResources">FuncGodot FGD Resources</a></li>
        <ul>
            <li><a href="#File">FuncGodot FGD File</a></li>
            <li><a href="#Entity">FuncGodot FGD Entity Class</a></li>
            <li><a href="#Base">FuncGodot FGD Base Class</a></li>
            <li><a href="#Solid">FuncGodot FGD Solid Class</a></li>
            <li><a href="#Point">FuncGodot FGD Point Class</a></li>
            <li><a href="#ModelPoint">FuncGodot FGD Model Point Class</a></li>
        </ul>
        <li><a href="#KeyValuePairs">Entity Key Value Pairs</a></li>
        <ul>
            <li><a href="#ApplyingKeyValues">Applying Key Values</a></li>
            <li><a href="#PropertyTypes">Property Types</a></li>
            <li><a href="#Choices">Choices</a></li>
            <li><a href="#BitFlags">Bit Flags</a></li>
        </ul>
        <li><a href="#TrenchbroomResources">TrenchBroom Resources</a></li>
        <ul>
            <li><a href="#GameConfig">TrenchBroom Game Config</a></li>
            <li><a href="#Tag">TrenchBroom Tag</a></li>
        </ul>
        <li><a href="#NetradiantCustomResources">NetRadiant Custom Resources</a></li>
        <ul>
            <li><a href="#GamepackConfig">NetRadiant Custom Gamepack Config</a></li>
            <li><a href="#Shader">NetRadiant Custom Shader</a></li>
        </ul>
        <li><a href="#FuncGodotMap">FuncGodot Map</a></li>
        <ul>
            <li><a href="#MapSettings">FuncGodot Map Settings</a></li>
        </ul>

        <h3>Tips and Tricks</h3>

        <li><a href="#Naming">Naming Patterns</a></li>
        <li><a href="#Worldspawn">Why Not Worldspawn?</a></li>
        <li><a href="#MultipleModels">Conditional Models in TrenchBroom</a></li>

        <h3>Additional Learning</h3>

        <li><a href="#HelpfulLinks">Helpful Links</a></li>
        <ul>
            <li><a href="#Godot">Godot and FuncGodot</a></li>
            <li><a href="#TrenchBroom">TrenchBroom and Quake</a></li>
            <li><a href="#JACK">J.A.C.K. and Half-Life</a></li>
            <li><a href="#Tools">Useful Tools</a></li>
        </ul>
        <li><a href="#FAQ">Frequently Asked Questions</a></li>
        <li class="discord"><a href="https://discord.gg/eBQ7EfNZSZ" target="_blank"><b>Join the FuncGodot Discord!</b></a></li>
    </ul>
</div>